<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <link rel="icon" src="img/star.png">
    <link rel="shortcut icon" type="image/png" href="img/star.png" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="css/myown.css" rel="stylesheet" />

</head>
<body>
    <nav>
        <a asp-controller="Good" asp-action="Index">Home</a>
        <a asp-controller="Good" asp-action="GradeCalculator">Grade Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.0.min.js"></script>
</body>
</html>
