@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Beautiful Website!";
}



    <h1>Dani Sweeten</h1>
    <img src="img/IMG-7879.JPG" />
    <p>I hope I can successfully be able to create web apps without feeling like I am helpless without doing exactly what is happening in the videos. I want to be confident in my abilities and feel like I can do this independently.</p>
    <ul>
        <li>My Top 3 Jobs:</li>
        <li>1. Data Scientist for Disneyland</li>
        <li>2. Freelance website developer</li>
        <li>3. Machine Learning projects</li>
    </ul>
    <h2>Grade Calculator</h2>
    <form>
        <label>Assignments Percent: </label>
        <input id="assignmentspercent" type="number" /> <br />
        <label>Group Projects Percent: </label>
        <input id="groupprojectspercent" type="number" /> <br />
        <label>Quizzes Percent: </label>
        <input id="quizzespercent" type="number" /> <br />
        <label>Exams Percent: </label>
        <input id="examspercent" type="number" /> <br />
        <label>Intex Percent: </label>
        <input id="intexpercent" type="number"> <br />
        <input id="btnSend" type="button" value="Calculate Grade" />
    </form>


    <script src="js/GradeCalculator.js"></script>
